<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emotion Tracker App</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Convergence" rel="stylesheet">
</head>
<body>
<header id="header">
    <div class="page">
      <div id='logo'>
        <img src="https://image.ibb.co/mDkB95/logo_icon.png" alt="logo_icon" border="0">
      </div>
      <nav>
        <ul>
          <li><a id="homeLink" href="/">Home</a></li>
          <li><a id="aboutLink" href="/">About</a></li>
          <li><a id="todoLink" href="/todos">To Do</a></li>
        </ul>
      </nav>
    </div>
  </header>

