<% include ../partials/header.ejs %>

   <section class="page" id="midSection2">
  <div class='Welcome'>
  <h1>Add a new item</h1>
  </div>
  <div class="addWrapper">
<form method='POST' action='/todos'>
  <input class="addInput" name='title' type='text' placeholder='title' />
  <input class="addInput" name='category' type='text' placeholder='category' />
  <input class="addInput" name='status' type='text' placeholder='status'>
  <div id="desc">
    <h2>Description</h2>
  </div>
  <input class="addInput" id="descInput" name='description' type='text'>
  <input id="addSubmit" type='submit' value='Submit' />
</form>
</div>

    </section>


<% include ../partials/footer.ejs %>

